extends _layout

block vars
  - var pageTitle = "Contacts";
  - var pageClass = "contacts";
  - var pageActive = "contacts";


block content
  div.main-wrap

    .capital
      .capital__inner.site-container.site-container--section
        .capital__content.grid-padding
          .capital__title.site-title
            .site-title__ico.shadow
              include ../img/site-title-icon01.svg
            h1.site-title__large
              span Ми завжди раді&nbsp;
              | вас&nbsp;<br> бачити та чути
            .capital__contact-phone
              a(href="tel:0 (800) 21 7096")
                span 0 (800) 21 7096
            .capital__contact-email
              a(href="mailto:support@skladusa.com")
                span support@skladusa.com
            .capital__contact-socaial
              .socail-item.facebook
                a(href="#")
                  include ../img/ico/fb.svg
              .socail-item.instagram
                a(href="#")
                  include ../img/ico/instagram.svg
              .socail-item.apple
                a(href="#")
                  include ../img/ico/apple.svg
        .capital__media.address__media
          .capital__media-img
            img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-src="./img/illustration.svg" alt="img").lazyload

    .address.site-container
      .grid-padding
        .address__inner
          .address__head
            .address__tabs
              .address__tab
                a.address__tab-btn(href='#ukrainian')
                  span Україна
              .address__tab
                a.address__tab-btn(href='#belarus')
                  span Білорусь
              .address__tab
                a.address__tab-btn(href='#usa')
                  span США

          .address__content
            .address__tab-content
              ul.address__tab-content-list
                li#ukrainian.address__tabs-items
                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-kv.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-kv.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Києві
                      .address__tab-item--description-address
                        p вул. Закревського 24E
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-dp.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-dp.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Дніпрі
                      .address__tab-item--description-address
                        p пр. Гагаріна 82
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-lv.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-lv.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Львові
                      .address__tab-item--description-address
                        p Богдана Хмельницького, 20
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-od.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-od.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс в Одесі
                      .address__tab-item--description-address
                        p вул. Мала Арнаутська, 119
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-hr.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-hr.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Харкові
                      .address__tab-item--description-address
                        p пр. Московський, 38/2
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                li#belarus.address__tabs-items
                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-kv.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-kv.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Мінську 2
                      .address__tab-item--description-address
                        p вул. Закревського 24E
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-dp.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-dp.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Дніпрі
                      .address__tab-item--description-address
                        p пр. Гагаріна 82
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-lv.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-lv.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Львові
                      .address__tab-item--description-address
                        p Богдана Хмельницького, 20
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-od.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-od.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс в Одесі
                      .address__tab-item--description-address
                        p вул. Мала Арнаутська, 119
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-hr.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-hr.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Харкові
                      .address__tab-item--description-address
                        p пр. Московський, 38/2
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися
                li#usa.address__tabs-items
                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-hr.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-hr.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Warehouse in the USA
                      .address__tab-item--description-address
                        p 1630 91st Ave NE Suite 108 Blaine, MN 55449
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p Mon-Fri: 9: 00-18: 00
                        p (USA CENTRAL TIME)
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +1-612-433-8383 (FBM)
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +1-612-636-7581 (FBA)
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-dp.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-dp.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Дніпрі
                      .address__tab-item--description-address
                        p пр. Гагаріна 82
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-lv.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-lv.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Львові
                      .address__tab-item--description-address
                        p Богдана Хмельницького, 20
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-od.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-od.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс в Одесі
                      .address__tab-item--description-address
                        p вул. Мала Арнаутська, 119
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися

                  .address__tab-item
                    .address__tab-item--img
                      picture
                        source(srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-srcset="./img/contacts-maskgroup-hr.webp" type="image/webp").lazyload
                        img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="./img/contacts-maskgroup-hr.png" alt='img' width="261" height="261").lazyload
                    .address__tab-item--description
                      .address__tab-item--description-title
                        h2 Офіс у Харкові1
                      .address__tab-item--description-address
                        p пр. Московський, 38/2
                      .address__tab-item--description-worktime
                        p Години роботи:
                        p пн-пт: 9:00-18:00
                        p нд 11:00-16:00
                      .address__tab-item--description-phone
                        a(href='tel:+380961862986')
                          span +38 (096) 186-29-86
                      .address__tab-item--description-map
                        a(href="#")
                          span Як дістатися
